<article class="producto">
    <a href=""> <div class="contenedor-foto-producto">
        <img src="img/bocadito-nuez.png" class="foto-producto">
    </div>
    <div class="descripcion">
        <i class="fas fa-truck"></i>
        <p class="precio">$111</p>
        <p class="nombre">Bocadito de </p>
    </div>
    </a>
</article>