<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <title>Dietética Tafi</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="marca">
                <img src="img/logo.svg" alt="logo" class="logo">
            </div>
            <div class="barra">
                <input type="text" placeholder="Buscar producto">
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="carrito">
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <div class="user">
                <a href="login.html"><i class="fas fa-user-circle"></i> <h4>Ingresar</h4></a>
            </div>
        </nav>
    </header>

    <main>

        <img src="img/banner_index.png" class="banner-index">

        <div class="barra-categorias">
            <div ><a href=""><h3>Frutos secos</h3></a>  
            </div>
            <div>
               <a href=""><h3>Veganos</h3></a> 
            </div>
            <div>
                <a href=""><h3> Gluten Free</h3></a>
            </div>
            <div>
                <a href=""><h3>Especias</h3></a>
            </div>
        </div>

        <div class="titulo-pn">
            <h2>PRODUCTOS NUEVOS</h2>
        </div>

        <section>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/bocadito-nuez.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Bocadito de </p>
                </div>
                </a>
            </article>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/bocadito-chia.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Bocadito de </p>
                </div>
                </a>
            </article>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/bocadito-almendras.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Bocadito de </p>
                </div>
                </a>
            </article>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/barra-frutilla.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Bocadito de </p>
                </div>
                </a>
            </article>

        </section>

        <div class="titulo-pn">
            <h2>PRODUCTOS DESTACADOS</h2>
        </div>

        <section>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/bocadito-nuez.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Bocadito de </p>
                </div>
                </a>
            </article>

            <article class="producto">
                <a href="#"><div class="contenedor-foto-producto">
                    <img src="img/bocadito-nuez.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Bocadito de </p>
                </div>
            </a>
            </article>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/bocadito-nuez.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Bocadito de </p>
                </div>
                </a>
            </article>

            <article class="producto">
                <a href=""> <div class="contenedor-foto-producto">
                    <img src="img/bocadito-nuez.png" class="foto-producto">
                </div>
                <div class="descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$111</p>
                    <p class="nombre">Bocadito de </p>
                </div>
                </a>
            </article>

        </section>

    </main>
    
    <footer>
        <div class="modoflex">
            <div id='redes'>
                <a href="#"><img src="img/Facebook.png" class='redes'></a>
                <a href="#"><img src="img/Instagram.png" class='redes'></a>
                <a href="#"><img src="img/Twitter.png" class='redes'></a>
            </div>

            <div class="box__footer">
                <p class='sub'>Nosotros</p>
                <p><a href="#">Info de la empresa</a></p>
                <p><a href="#">Donde encontrarnos</a></p>
                <p><a href="#">Contactenos</a></p>
            </div>

            <div class="box__footer">
                <p class='sub'>Comprar</p>
                <p><a href="#">Como comprar</a></p>
                <p><a href="#">Preguntas freq.</a></p>
                <p><a href="#">Políticas de priv.</a></p>
            </div>

            <div class="usuario">
                <p class="sub">Usuario</p>
                <p><a href="#">Mi cuenta</a></p>
                <p><a href="/register.html">Registrarme</a></p>
                <p><a href="#">Productos fav.</a></p>
            </div>

            <div class="logo-footer">
                <img src="img/logo.svg" alt="logo" class="logo">
            </div>
        </div>

    </footer>

</body>
</html>