<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/seccion.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Dietética Tafi</title>
</head>
<body>
    <header>
        <nav class='header'>
            <i class="fab fa-pagelines"></i>
            <input type="text">
            <a href=#Carrito"><i class="fas fa-shopping-cart"></i></a>
            <a href=#IniciarSesion>Iniciar sesion</a>
            <a href=#CrearCuenta">Crear cuenta</a>
        </nav>
    </header>
    <main>
        <nav class='categorias'>
            <div>Frutos Secos</div>
            <div>Legumbres</div>
            <div>Veganos</div>
            <div>Gluten Free</div>
            <div>Especias</div>
            <div>+ Categorias</div>
        </nav>
        <section class="articulos">
        <article class='producto'>
            <img src="img/aceite-almendras.jpg"  alt="Aceite Hierbas del Oasis">
            <div>Aceite de Almendras x 30 cc. Hierbas del Oasis</div>
            <div>$409.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/alfajor-rincon.jpg"  alt="Alfajor Rincon Vegano">
            <div>Alfajor x 80 gs. Un Rincón Vegano</div>
            <div>$58.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/algas-kelp.jpg"  alt="Algas Kelp Prama">
            <div>Algas Kelp x 100 gs. Prama</div>
            <div>$515.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/barra-frutilla.jpg"  alt="Barra de arroz frutilla Lulemuu">
            <div>Barra de Arroz con Baño de Frutilla x 12 gs. Lulemuu</div>
            <div>$38.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/bocadito-almendras.jpg"  alt="Bocadito de Almendra Orann">
            <div>Bocadito de Almendra Orann</div>
            <div>$42.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/bocadito-chia.jpg"  alt="Bocadito de Almendra Orann">
            <div>Bocadito de Almendra Orann</div>
            <div>$42.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/bocadito-nuez.jpg"  alt="Bocadito de Nuez y Coco Orann">
            <div>Bocadito de Nuez y Coco Rallado Orann</div>
            <div>$42.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/chocolate.jpg"  alt="Barra de arroz chocolate Lulemuu">
            <div>Barra de Arroz con Chocolate Sin TACC x 12 gs. Lulemuu</div>
            <div>$38.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/galletas-chiapas.jpg"  alt="Galletitas Chiapas Zafran">
            <div>Galletitas Chíapaz x 150 gs. Zafrán</div>
            <div>$98.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/galletas-linocco.jpg"  alt="Galletitas Linocco Zafrán">
            <div>Galletitas Linocco x 150 gs. Zafrán</div>
            <div>$98.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/galletas-tanlatam.jpg"  alt="Galletitas Tanlatam Zafrán">
            <div>Galletitas Tanlatam x 150 gs. Zafrán</div>
            <div>$98.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/leche-soja.jpg"  alt="Leche de Soja El Naturalista">
            <div>Leche de Soja sin azúcar x 500 gs. El Naturalista</div>
            <div>$335.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/mantequilla-mani.jpg"  alt="Mantequilla de Mani Le-Fit">
            <div>Mantequilla de Maní Natural x 400 gs. Le-Fit</div>
            <div>$285.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/mayonesa-soja.jpg"  alt="Mayonesa Mi Soja">
            <div>Mayonesa de Soja x 360 gs. Mi Soja</div>
            <div>$377.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/medallon-lentejas.jpg"  alt="Medallon de lentejas Nutrileza">
            <div>Medallón de Lentejas x 4 Nutrileza</div>
            <div>$249.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/medallon-menta.jpg"  alt="Medallón Menta Benot">
            <div>Medallón de Chocolate y menta Benot</div>
            <div>$50.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/medallon-quinoa.jpg"  alt="Medallon de Quinoa Nutrileza">
            <div>Medallón de Quinoa x4 Nutrileza</div>
            <div>$249.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/mix-orann.jpg"  alt="Granola Mix Orann">
            <div>Granola Mix Energético x 1 kg. Orann</div>
            <div>$575.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/pleny-light"  alt="Barra de Cereal Chocolate Pleny">
            <div>Barra de Cereal Light Alfajor de Chocolate x 21 gs. Pleny</div>
            <div>$58.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
        <article class='producto'>
            <img src="img/tofu-soyana.jpg"  alt="Tofu Soyana">
            <div>Tofu x 350 gs. Soyana</div>
            <div>$439.-</div>
            <a href=#AgregarCarrito>Agregar al Carrito</a>
        </article>
    </section>
    </main>
    <footer>
        <div class="container_footer">
            <div class="box__footer">
                <a href="#">info de la empresa</a>
                <a href="#">donde encontrarnos</a>
                <a href="#">contactenos</a>
            </div>
            <div class="box__footer">
                <a href="#">Como comprar</a>
                <a href="#">preguntas freq.</a>
                <a href="#">politicas de priv.</a>
            </div>
            <div class="box__footer">
                <a href="#">Mi cuenta</a>
                <a href="/register">registrarme</a>
                <a href="#">productos fav.</a>
            </div>

             <div class="box__footer">
                 <div class="logo">
                     <img src="" alt="">
                 </div>
             </div> 
        </div>
    </footer>
</body>
</html>