<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/seccion.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <title>Dietética Tafi</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="marca">
                <img src="img/logo.svg" alt="logo" class="logo">
            </div>
            <div class="barra">
                <input type="text" placeholder="Buscar producto">
            </div>
            <div class="burger-menu">
                <a href="#"><i class="fas fa-bars"></i></a>
            </div>
            <div class="carrito">
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <div class="user">
                <a href="#"><i class="fas fa-user-circle"></i> <h4>Ingresar</h4></a>
            </div>
        </nav>
    </header>
    <main>
        <nav id='categorias'>
            <div>Frutos Secos</div>
            <div>Legumbres</div>
            <div>Veganos</div>
            <div>Gluten Free</div>
            <div>Especias</div>
            <div>+ Categorias</div>
        </nav>
        <div class="categoria">Productos Veganos</div>
        <section class="articulos">
        <article class='producto'>
            <img src="img/aceite-almendras.png"  alt="Aceite Hierbas del Oasis">
            <div class='nombre'>Aceite de Almendras x 30 cc. Hierbas del Oasis</div>
            <div>$409.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/alfajor-rincon.png"  alt="Alfajor Rincon Vegano">
            <div class='nombre'>Alfajor x 80 gs. Un Rincón Vegano</div>
            <div>$58.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/algas-kelp.png"  alt="Algas Kelp Prama">
            <div class='nombre'>Algas Kelp x 100 gs. Prama</div>
            <div>$515.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/barra-frutilla.png"  alt="Barra de arroz frutilla Lulemuu">
            <div class='nombre'>Barra de Arroz con Baño de Frutilla x 12 gs. Lulemuu</div>
            <div>$38.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/bocadito-almendras.png"  alt="Bocadito de Almendra Orann">
            <div class='nombre'>Bocadito de Almendra Orann</div>
            <div>$42.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/bocadito-chia.png"  alt="Bocadito de Almendra Orann">
            <div class='nombre'>Bocadito de Almendra Orann</div>
            <div>$42.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/bocadito-nuez.png"  alt="Bocadito de Nuez y Coco Orann">
            <div class='nombre'>Bocadito de Nuez y Coco Rallado Orann</div>
            <div>$42.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/chocolate.png"  alt="Barra de arroz chocolate Lulemuu">
            <div class='nombre'>Barra de Arroz con Chocolate Sin TACC x 12 gs. Lulemuu</div>
            <div>$38.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/galletas-chiapas.png"  alt="Galletitas Chiapas Zafran">
            <div class='nombre'>Galletitas Chíapaz x 150 gs. Zafrán</div>
            <div>$98.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/galletas-linocco.png"  alt="Galletitas Linocco Zafrán">
            <div class='nombre'>Galletitas Linocco x 150 gs. Zafrán</div>
            <div>$98.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/galletas-tanlatam.png"  alt="Galletitas Tanlatam Zafrán">
            <div class='nombre'>Galletitas Tanlatam x 150 gs. Zafrán</div>
            <div>$98.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/leche-soja.png"  alt="Leche de Soja El Naturalista">
            <div class='nombre'>Leche de Soja sin azúcar x 500 gs. El Naturalista</div>
            <div>$335.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/mantequilla-mani.png"  alt="Mantequilla de Mani Le-Fit">
            <div class='nombre'>Mantequilla de Maní Natural x 400 gs. Le-Fit</div>
            <div>$285.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/mayonesa-soja.png"  alt="Mayonesa Mi Soja">
            <div class='nombre'>Mayonesa de Soja x 360 gs. Mi Soja</div>
            <div>$377.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/medallon-lentejas.png"  alt="Medallon de lentejas Nutrileza">
            <div class='nombre'>Medallón de Lentejas x 4 Nutrileza</div>
            <div>$249.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/medallon-menta.png"  alt="Medallón Menta Benot">
            <div class='nombre'>Medallón de Chocolate y menta Benot</div>
            <div>$50.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/medallon-quinoa.png"  alt="Medallon de Quinoa Nutrileza">
            <div class='nombre'>Medallón de Quinoa x4 Nutrileza</div>
            <div>$249.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/mix-orann.png"  alt="Granola Mix Orann">
            <div class='nombre'>Granola Mix Energético x 1 kg. Orann</div>
            <div>$575.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/pleny-light.png"  alt="Barra de Cereal Chocolate Pleny">
            <div class='nombre'>Barra de Cereal Light Alfajor de Chocolate x 21 gs. Pleny</div>
            <div>$58.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
        <article class='producto'>
            <img src="img/tofu-soyana.png"  alt="Tofu Soyana">
            <div class='nombre'>Tofu x 350 gs. Soyana</div>
            <div>$439.-</div>
            <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
        </article>
    </section>
    </main>
    <footer>
        <div class="container_footer">
            <div id='redes'>
                <a href="#"><img src="img/Facebook.png" class='redes'></a>
                <a href="#"><img src="img/Instagram.png" class='redes'></a>
                <a href="#"><img src="img/Twitter.png" class='redes'></a>
            </div>
            <div class="box__footer">
                <p class='sub'>Nosotros</p>
                <p><a href="#">Info de la empresa</a></p>
                <p><a href="#">Donde encontrarnos</a></p>
                <p><a href="#">Contactenos</a></p>
            </div>
            <div class="box__footer">
                <p class='sub'>Comprar</p>
                <p><a href="#">Como comprar</a></p>
                <p><a href="#">Preguntas freq.</a></p>
                <p><a href="#">Políticas de priv.</a></p>
            </div>
            <div class="usuario">
                <p><a href="#">Mi cuenta</a></p>
                <p><a href="/register">Registrarme</a></p>
                <p><a href="#">Productos fav.</a></p>
            </div>
             <div class="logo-footer">
                <img src="img/logo.svg" alt="logo" class="logo">
            </div>
        </div> 
    </footer>
</body>
</html>
