/*//////////-GENERAL-//////////*/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

/*//////////-HEADER-//////////*/


header {
    background-color: #10AC84;
    height: 60px;
    padding: 10px 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marca {
    width: 45px;
}

.carrito {
    
}

.barra input {
    border: none;
    border-radius: 20px;
    height: 25px;
    text-align: center;
}

.user h4 {
 display: none;
 text-decoration: none;
}

.burger-menu i{
    
    color: white;
    size: 2x
}

.user i{
    
    color: white;
    
}



/*//////////-MAIN-//////////*/



/*//////////-FOOTER-//////////*/



/*//////////-MEDIA QUERIES-//////////*/

@media (min-width:490px) {
    header {
        height: 75px;
    }

    .navbar{
        max-width: 1200px;
        margin: auto;
    }

    .marca {
        width: 60px;
    }
    
    .barra {
        width: 50%;
    }

    .barra input {
        width: 100%;
    }

    .burger-menu {
        display: none;
    }

    .user h4 {
        display: inline;
        text-decoration: none;
        margin-left: 5px;
        
    }
   
}