*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(img/26791-plantas.jpg);
    background-size: cover;

}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 106px;
    width: 100vw;
    background-color: #10AC84;
}

.fab {
    width: 40px;
    height: 40px;
    font-size: 2em;
    color: white;
}

input{
    width: 340px;
    height: 32px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.fas{
    font-size: 2em;
    color: white;
}

nav a {
    color: white;
}

.form-login{
    width: 400px;
    background: darkgreen;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px 000;

}

.form-login h4{
    font-size: 22px;
    margin-bottom: 20px;

}

.form-login .boton{
    width: 100%;
    background: blue;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0px;
    font-size: 16px;
    
}

.control{
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

footer{
    width: 100vw;
    height: 125px;
    background-color: #10AC84;
    color: black;
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box__footer{
    display: flex;
    flex-direction: column;

}


.box__footer a{
    margin-top: 10px;
    color: black;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;

}