/*//////////-GENERAL-//////////*/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

/*//////////-HEADER-//////////*/



header {
    background-color: #10AC84;
    height: 60px;
    padding: 10px 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marca {
    width: 45px;
}

.carrito i {
    display: none;
}

.barra input {
    border: none;
    border-radius: 20px;
    height: 25px;
    text-align: center;
}

.user h4 {
 display: none;
 text-decoration: none;
}

.burger-menu i{
    
    color: white;
    size: 2x
}

.user i{
    
    color: white;
    
}




/*//////////-MAIN-//////////*/
.nombre{
    font-weight: bold;
}

.agregar{
    background-color: #10AC84;
    width: 112px;
    height: 28px;
    border-radius: 4px;
}

.agregar a{
    color: white;
}
.articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.producto{
    width: 170px;
    height: 224px;
    font-size: 11px;
    text-align: center;
    padding: 5px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.producto img{
    width: 150px;
    height: 150px;
    margin: auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
/*
.articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 50px 90px;
}

.producto{
    width: 160px;
    height: 220px;
    font-size: 14px;
    text-align: center;
    padding: 15px 40px;
}


.producto img{
    width: 150px;
    height: 150px;
} 
*/
.detail {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 25px;
}
.mantequilla-de-mani {
display: flex;
flex-wrap: wrap; 
display:block;
margin:auto;
justify-content: center;
border: ridge #000000 1px;
width: 550px;
height: 550px;
left: 15px;
top: 75px;
margin-top: 20px;
box-shadow: 0px 0px 10px rgb(100,100,100);
}
.nombre-de-producto {
    font-size: 30px;
    font-weight: bold ;
}
.parrafo{
    font-size: 12px;
    margin: 10px;
    border: ridge #10AC84 1px;
    text-align: center;
}

/*//////////-FOOTER-//////////*/

footer{
    width: 100vw;
    background-color: #10AC84;
    color: white;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.redes{
    height: 35px;
    width: 35px;
    background-color: #10AC84;
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.sub{
    font-weight: 600;
    font-size: 11px;
}

.box__footer{
    padding: 10px;
}

.box__footer a{
    color: white;
    font-size: 11px;
}

.usuario{
    display: none;
}

.usuario a{
    color: white;
    font-size: 11px;
}

.box__footer a:hover{
    opacity: 0.8;
}

.usuario a:hover{
    opacity: 0.8;
}

.logo-footer {
    display: none;
}

/*//////////-MEDIA QUERIES-//////////*/

@media (min-width:490px) {
    

    .navbar{
        max-width: 550px;
        margin: auto;
    }

    
    
    .barra {
        width: 50%;
    }

    .barra input {
        width: 100%;
    }

    .burger-menu {
        display: none;
    }

    .user h4 {
        display: inline;
        text-decoration: none;
        margin-left: 5px;
        color: white;
        
    }
   
    .carrito i {
        display: inline;
        text-decoration: none;
        color: white;
    }
}

@media ( min-width: 1200px) {

    .navbar{
        max-width: 1200px;
        margin: auto;
    }

}
@media (max-width :490px){
    .mantequilla-de-mani{ 
        display: flex;
        flex-wrap: wrap; 
        display:block;
        margin:auto;
        justify-content: center;
        border: ridge #000000 1px;   
        width: 250px;
        height: 200px;
        left: 103px;
        top: 212px;
            }
}

/*
.logo{
    width: 240px;
    height: 40px;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 83px;
    display: flex;
    justify-content: center;
}

.carrito{
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 17px;
    padding-right: 33px;
}

.ingreso{
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 33px;
    padding-right: 121px;
}


.fab {
    font-size: 3em;
    color: white;
    text-align: center;
}

input{
    width: 340px;
    height: 32px;
}

.fas{
    font-size: 2em;
    color: white;
}

nav a {
    color: white;
}

*/
