/*//////////-GENERAL-//////////*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*//////////-HEADER-//////////*/

header {
    background-color: #10AC84;
    height: 60px;
    padding: 10px 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marca {
    width: 45px;
}

.carrito i {
    display: none;
}

.barra input {
    border: none;
    border-radius: 20px;
    height: 25px;
    text-align: center;
}

.user h4 {
 display: none;
 text-decoration: none;
}

.burger-menu i{
    color: white;
    size: 2x
}

.user i{
    color: white;
}

/*//////////-MAIN-//////////*/

#categorias{
    display: flex;
    justify-content: space-between;
    margin:25px 140px 50px;
    display: none;
}

#categorias div{
    width: 140px;
    height: 30px;
    background-color: rgba(16, 172, 132, 0.32);
    text-align: center;
    border-radius: 4px;
}

.categoria {
    height: 33px;
    width: 100vw;
    text-align: center;
    display: block;
    background-color: rgba(16, 172, 132, 0.32);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

.articulos {
    display: flex;
    flex-wrap: wrap;
}

.producto{
    width: 170px;
    height: 224px;
    font-size: 11px;
    text-align: center;
    padding: 5px;
}

.producto img{
    width: 150px;
    height: 150px;
    margin: auto;
}

.producto div{
    margin:auto;
}

.nombre{
    font-weight: bold;
}

.agregar{
    background-color: #10AC84;
    width: 112px;
    height: 28px;
    border-radius: 4px;
}

.agregar a{
    color: white;
}

/*//////////-FOOTER-//////////*/

footer{
    width: 100vw;
    background-color: #10AC84;
    color: white;
    left: 0px;
    bottom: 0px;
    margin-top: 20px;
}

.redes{
    height: 35px;
    width: 35px;
    background-color: #10AC84;
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.sub{
    font-weight: 600;
    font-size: 11px;
}

.box__footer{
    padding: 10px;
}

.box__footer a{
    color: white;
    font-size: 11px;
}

.usuario{
    display: none;
}

.usuario a{
    color: white;
    font-size: 11px;
}

.box__footer a:hover{
    opacity: 0.8;
}

.usuario a:hover{
    opacity: 0.8;
}

.logo-footer {
    display: none;
}

/*//////////-MEDIA QUERIES-//////////*/
@media (min-width:490px) {
    

    .navbar{
        max-width: 550px;
        margin: auto;
    }

    
    
    .barra {
        width: 50%;
    }

    .barra input {
        width: 100%;
    }

    .burger-menu {
        display: none;
    }

    .user h4 {
        display: inline;
        text-decoration: none;
        margin-left: 5px;
        color: white;
        
    }
   
    .carrito i {
        display: inline;
        text-decoration: none;
        color: white;
    }

}

@media ( min-width: 1200px) {

    .navbar{
        max-width: 1200px;
        margin: auto;
    }

    #categorias  {
        display: flex;
        justify-content: space-between;
    }

    .categoria {
        display: none;
    }

}