.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 106px;
    width: 100vw;
    background-color: #10AC84;
}

.fab {
    width: 40px;
    height: 40px;
    font-size: 2em;
    color: white;
}

input{
    width: 340px;
    height: 32px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.fas{
    font-size: 2em;
    color: white;
}

.nav a {
    color: white;
}

.categorias {
    display: flex;
    justify-content: space-between;
    margin:25px 140px 50px;
}

.categorias div{
    width: 140px;
    height: 30px;
    background-color: #10AC84;
    text-align: center;
}

.articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 50px 90px;
}

.producto{
    width: 160px;
    height: 220px;
    font-size: 14px;
    text-align: center;
    padding: 15px 40px;
}

.producto img{
    width: 150px;
    height: 150px;
}

footer{
    width: 100vw;
    height: 125px;
    background-color: #10AC84;
    color: black;
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box__footer{
    display: flex;
    flex-direction: column;

}


.box__footer a{
    margin-top: 10px;
    color: orange;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;

}