*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60px;
    width: 360px;
    background-color: #10AC84;
}

.header div{
    padding: 15px 10px;
}

.logo{
    width: 40px;
    height: 40px;
}

.carrito{
    width: 23px;
    height: 23px;
    display: none;
    padding: 15px 10px;
}

.burger-menu{
    width: 23px;
    height: 23px;
    padding: 15px 10px;
}

.ingreso{
    width: 23px;
    height: 23px;
    padding: 15px 10px;
}

input{
    width: 185px;
    height: 25px;
    border-radius: 8px;
}

.fas{
    font-size: 1em;
    color: white;
}

nav a{
    color: white;
}

#categorias{
    display: flex;
    justify-content: space-between;
    margin:25px 140px 50px;
    display: none;
}

#categorias div{
    width: 140px;
    height: 30px;
    background-color: rgba(16, 172, 132, 0.32);
    text-align: center;
    border-radius: 4px;
    display: none;
}

.categoria {
    height: 60px;
    width: 360px;
    text-align: center;
    display: block;
    background-color: rgba(16, 172, 132, 0.32);
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 10px;
}

.articulos {
    display: flex;
    flex-wrap: wrap;
}

.producto{
    width: 170px;
    height: 224px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.producto img{
    width: 150px;
    height: 150px;
    margin: auto;
}

.producto div{
    margin:auto;
}

.nombre{
    font-weight: bold;
}

.agregar{
    background-color: #10AC84;
    width: 112px;
    height: 28px;
    border-radius: 4px;
}

.agregar a{
    color: white;
}

footer{
    width: 100vw;
    background-color: #10AC84;
    color: black;
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container_footer div{
    display: flex;
    flex-direction: column;
}


.box__footer a{
    margin-top: 20px;
    color: black;
    font-weight: 600;
    padding-left: 80px;
    padding-right: 80px;
}

.box__footer a:hover{
    opacity: 0.8;

}