<!DOCTYPE html>
<html lang="en">
<head>
        <link href="/css/productDetail.css" rel="stylesheet">
        <link rel="stylesheet" href="productDetail.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/productDetail.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <title>Dietética Tafi</title>
    
</head>
<body>
    <header>
        <%- include ('./partials/footer') %>
    </header>
    <main>
        <div>
        <img src="img\mantequilla-mani.png"  alt="Mantequilla de Mani" class="mantequilla-de-mani">
        </div>
        <div class="detail">
           <p class="nombre-de-producto">  Mantequilla de Mani<p>
           
            Cantidad
           </div>
        
        <div class="detail">
            <p class="precio"> $170</p>
        
            <form action="/productDetail" method="POST">
            <label></label>
            <select name="cantidad">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            </form>
        </div>
        <div>
        <p class="parrafo" >
            La pasta hecha a base de maní es un alimento innovador para que lo incorpores a tu alimentación.
            Para un desayuno o merienda nutritiva o para complementar tus recetas con energía. 
            Hecha 100% con maní tostado, sin aditivos.
            Es un alimento vegano, gluten free y organico</p>
        
        </div>
        <div>
            <h2>Productos similares</h2>
        </div>
        <div>
            <section class="articulos">
                <article class='producto'>
                    <img src="img/aceite-almendras.png"  alt="Aceite Hierbas del Oasis">
                    <div>Aceite de Almendras x 30 cc. Hierbas del Oasis</div>
                    <div>$409.-</div>
                    <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
                </article>
                <article class='producto'>
                    <img src="img/alfajor-rincon.png"  alt="Alfajor Rincon Vegano">
                    <div>Alfajor x 80 gs. Un Rincón Vegano</div>
                    <div>$58.-</div>
                    <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
                </article>
                <article class='producto'>
                    <img src="img/algas-kelp.png"  alt="Algas Kelp Prama">
                    <div>Algas Kelp x 100 gs. Prama</div>
                    <div>$515.-</div>
                    <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
                </article>
                <article class='producto'>
                    <img src="img/barra-frutilla.png"  alt="Barra de arroz frutilla Lulemuu">
                    <div class='nombre'>Barra de Arroz con Baño de Frutilla x 12 gs. Lulemuu</div>
                    <div>$38.-</div>
                    <div class='agregar'><a href=#AgregarCarrito>Agregar al Carrito</a></div>
                </article>
               
            </section>
        </div>
    </main>
     
    <footer>
        <%- include ('./partials/footer') %>
    </footer>
</body>
</html>