<header>
    <nav class="navbar">
        <div class="marca">
            <img src="img/logo.svg" alt="logo" class="logo">
        </div>
        <div class="barra">
            <input type="text" placeholder="Buscar producto">
        </div>
        <div class="burger-menu">
            <a href="#"><i class="fas fa-bars"></i></a>
        </div>
        <div class="carrito">
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="user">
            <a href="login.html"><i class="fas fa-user-circle"></i> <h4>Ingresar</h4></a>
        </div>
    </nav>
</header>